# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
ipdb

# data science
matplotlib
seaborn
numpy<1.20
pandas<1.4
scikit-learn<0.25

# tests/linter
black
coverage
flake8
pytest
pylint
yapf

# utilities
six>=1.14
joblib
memoized-property
termcolor
